canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: black;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

p{
  font-size: 1rem;
}

  header {
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background-color:rgb(250, 235, 215);

    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .left {
    grid-column: 6 / 12;
  }

  /* if desktop */
  .mobile {
    display: none;
}
    /* if mobile device max width 380px */
    @media only screen and (max-device-width: 380px) {
      .mobile{display: block;}       
      .desktop {display: none;}
      body{
        background-color: rgb(97, 97, 97);
      }
      section {
        grid-column: 2 / 8;
        padding: 1rem;
        background-color:rgb(97, 97, 97);
        color:rgb(255, 254, 250);
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: var(--spacing);
      }
      h1, h2, h3, blockquote, p {
        font-family: elevon, sans-serif;
        font-weight: 700;
        font-style: normal;
        color:rgb(255, 254, 250);
      }
      
  } 