html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

/* Title */
.title {
  position: absolute;
  top: 1%;
  left: 10%;
}

/* About Me */
.about-me {
  position: absolute;
  top: 25%;
  left: 8%;
  width: 40%;
}

/* Projects */
.projects {
  position: absolute;
  top: 45%;
  right: 5%;
  width: 40%;
}

/* Knowledge */
.knowledge {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 30%;
}

/* Contacts */
.contacts {
  position: absolute;
  bottom: 15%;
  right: 2%;
  width: 40%;
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  z-index: 5;
  text-transform: uppercase;
}

.main-title {
  font-size: 64px;
}

.main-description {
  font-size: 18px;
}

.portfolio {
  font-size: 32px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  right: 12%;
}

.card-title {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 40%;
}

.card {
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  border-radius: 25px;
  display: table;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image {
  position: relative;
  display: table-row;
}

.image figcaption {
  position: absolute;
  top: 0%;
  bottom: 50%;
  left: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.image figcaption:hover {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.programming-section {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  line-height: 1.6;
  background-color: #14121c;
  height: auto;
  overflow: hidden;
  position: relative;
}


.methods {
  color: #2f60ad;
  display: inline;
}

.strings {
  color: #ffa480;
}
.variable {
  color: #a6e6ff;
  display: inline;
}

.skills {
  color: #ffe989;
}

/*PHONE*/

.phone {
  height: 7000px;
  width: 100%;
  background: #CECECE;
  position: relative;
  --display: block;
  display: var(--display);
}

.phone .title{
  position: absolute;
  top: 500px;
  width: 100%;
  left: 0%;
}

/* About Me */
.phone .about-me {
  position: absolute;
  width: 100%;
  top: 4550px;
  left: 0%;
}

/* Projects */
.phone .projects {
  position: absolute;
  width: 100%;
  top: 2100px;
  left: 0%;
}

/* Knowledge */
.phone .knowledge {
  position: absolute;
  width: 100%;
  top: 5400px;
  left: 0%;
  text-align: center;
}

/* Contacts */
.phone .contacts {
  position: absolute;
  width: 100%;
  top: 6400px;
  left: 0%;
  text-align: center;
}

.phone .main-description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.phone .main-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 44px;
  text-align: center;
}

.phone .section-title-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 20px;
  text-align: center;
}

.phone .programming-section {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 36px;
  line-height: 1.6;
  background-color: #14121c;
  overflow: hidden;
  margin: 30px;
  padding: 10px;
  border-radius: 50px;

}
.phone p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  margin: 10px;
  padding: 10px;
}

.phone a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.phone .text-image{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.phone .image-container{
  position: relative;
}

.phone img { 
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.phone .cards {
  max-width: 1200px;
  margin: 40px;
  display: grid;
  gap: 1rem;
}

.phone .text-aboutme{
  background-color: rgb(153, 167, 175);
  height: 700px;
  border-radius: 50px;
  position: absolute;
  margin: 30px;
}

.phone h3 {
  position: absolute;
  top: 25%;
  left:8%;
  font-size: 30px;
}
